<?xml version="1.0" encoding="utf-8"?>
<properties>
  <property name="key.file" value="${config.dir}\local.pfx" />
  <property name="key.file.thumbprint" value="" />
  <property name="key.file.password" value="" />
</properties>
